* {margin:0; padding:0}
	
	/* header-style */
	.header-menu {
		height:100px;
		background:#98DFFF;
	}
	.header-content {
		width:1000px; height:100px;
		margin:auto;
	}
	
	.header-logo {
		float:left;
		height:70px;
		padding-top:30px;
		margin-right:20px;
	}
	.header-logo > span {
		color:white;
		font-size:24px;
		font-weight:bold;
		display:inline-block;
		margin-bottom:10px;
		vertical-align:bottom;
	}
	
	.header-search {
		float:left;
		width:300px; height:70px;
		padding-top:30px;
		margin-right:20px;
	}
	.header-search > div {
		background:white;
		width:280px; height:50px;
		border-radius:10px;
		padding-left:20px;
		display:flex;
	}
	.header-search > div > input{
		border:none;
		outline:none;
		width:220px;
		font-size:14px;
	}
	.header-search > div > button {
		background:white;
		border:none;
		cursor:pointer;
		margin-left:20px;
	}
	
	.header-nav {
		float:right;
		height:70px;
		padding-top:30px;
	}
	.header-nav > ul {
		list-style-type:none;
		float:right;
		padding-top:30px;
	}
	.header-nav > ul > li {
		float:left;
		padding-left:25px;
	}
	.header-nav > ul > li > a {
		text-decoration:none;
		color:white;
		font-size:14px;
	}
	.header-nav > ul > li > a:hover {
		font-weight:bold;
	}
	
	/* footer-style */
	.footer-menu {
		height:350px;
		background:#F7FCFE;
	}
	
	.footer-content {
		width:1000px; height:300px;
		margin:auto; padding:25px 0;
		border:1px solid red;
	}
	
	.footer-nav {
		float:left;
		border:1px solid red;
	}
	.footer-nav > ul, .footer-contact > ul {
		list-style-type:none;
	}
	.footer-nav > ul > li {
		float:left;
		border-right:1px solid #636363;
		padding:0 12.5px;
		height:19px;
	}
	.footer-nav > ul > li:first-child {
		padding-left:0px;
	}
	.footer-nav > ul > li:last-child {
		border-right:none;
	}
	.footer-nav > ul > li > a {
		text-decoration:none;
		color:#636363;
		font-size:14px;
		vertical-align:top;
		height:16px;
	}
	.footer-nav > ul > li > a:hover {
		text-decoration:underline;
	}
	
	.footer-contact {
		float:right;
		border:1px solid red;
	}
	.footer-contact > ul > li {
		float:left;
		padding-left:15px;
	}
